nav ul {
    padding: 0px 20px;
}

li a {
    cursor: pointer;
    position: relative;
    -decoration: none;
    text-transform: uppercase;
    color: inherit;
}

header ul li a:hover {
    color: red;
}
.left span{
    text-transform: lowercase;
}
.left h1{
    text-transform: capitalize;
}
li a::after {
    content: '';
    margin: auto;
    position: absolute;
    width: 0%;
    height: 2px;
    border-radius: 2px;
    left: 0;
    top: 85%;
    box-shadow: 0px 0px 10px;
    background: rgba(188, 84, 84, 0.801);
    transition: 0.6s ease-in-out;
}

li a:hover::after {
    width: 80%;
    transform: translateX(10%);
}

nav ul li:nth-child(1) {
    margin-right: 10px;
}

.navbar-brand {
    margin-left: 35px;
}

.header-Box {
    position: absolute;
    right: 25px;
}